.main {
    margin-top: 3rem;
    margin-bottom: 5rem;
    min-height: 100vh;
    /* height: 100%; */
    width: 100%;
    background: linear-gradient(lightgreen, rgb(179, 247, 179));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------POPUP WINDOW--------------------------------------------------------------------- */
.popUpWindowHidden {
    display: none;
}

.popUpWindow {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    background-color: orangered;
    font-size: 1.2rem;
    text-align: center;

    border-radius: 15px;
    box-shadow: 7px 7px 10px black;
    background: linear-gradient(lightgray, rgb(129, 127, 127));
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.answer {
    min-height: 2rem;
    width: calc(100% - 3rem);
    text-align: center;
    font-size: 1.2rem;
}

.buttons {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    padding: 1rem;
    border-radius: 5px;
    width: 7rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 7px black;
    font-weight: 700;
    color: rgb(249, 180, 6);
    background-color: darkgrey;
    cursor: pointer;
}

/* -------------------------------------------------------------------HEADER--------------------------------------------------------------------- */
.headerContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {}

.headerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cupcake {
    width: 4.5rem;
    height: 4.5rem;
    transition: transform 0.5s;
}

.cupcake:hover {
    transform: rotate(360deg);
}

.cupcake2 {
    width: 5rem;
    height: 5rem;
    transition: transform 0.5s;
}

.cupcake2:hover {
    transform: rotate(360deg);
}

.headline {
    padding: 2rem;
    color: rgb(249, 180, 6);
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.spanLetter {
    background-color: rgb(33, 33, 205);
    border-radius: 5px;
}

.spanLetter2 {
    background-color: rgb(54, 124, 51);
    border-radius: 5px;
}

.spanLetter3 {
    background-color: rgb(249, 59, 6);
    border-radius: 5px;
}

.headerRight {
    /* padding-right: 1rem;
    padding-left: 1rem; */
}

/* -------------------------------------------------------------GRID WITH NUMBERS--------------------------------------------------------------------- */
.grid {
    margin-top: 3rem;
    width: 80%;
    min-height: 90%;
    /* padding-bottom: 5rem; */
    /* background-color: blueviolet; */

    display: grid;
    grid-template-columns: repeat(5, calc(20% - 0.8rem));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.gridItem {
    /* Tricks to get aspect ratio 1 : 1 */
    width: 100%;
    /* aspect-ratio: 1/1; */
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 15px;
    box-shadow: 7px 7px 10px black;
    background: linear-gradient(rgb(116, 116, 209), rgb(153, 153, 249));
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageVisible {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.imageHidden {
    display: none;
}

.imageNumber {
    margin: 0;
    font-size: 5vw;
    font-weight: 700;
    color: goldenrod;
    text-shadow: 2px 2px 5px black;
}

/* ---------------------------------------------------------------------FOOTER--------------------------------------------------------------------- */
.footer {
    width: 100%;
    margin-top: 5rem;
    /* margin-bottom: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.resetButton {
    margin: 1rem;
    padding: 0.5rem;
    min-width: 61px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 7px black;
    font-weight: 700;
    color: rgb(249, 180, 6);
    background-color: darkgrey;
    cursor: pointer;
}

.dummyText {
    display: none;
}

.checkboxHidden {
    display: none;
}

.labelForCheckbox {
    position: relative;
    z-index: 101;
}

/* .svg {
    z-index: 1000;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
} */

.infoButton {
    margin: 1rem;
    padding: 0.5rem;
    min-width: 61px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 7px black;
    font-weight: 700;
    color: rgb(249, 180, 6);
    background-color: darkgrey;
    cursor: pointer;
}

.checkboxHidden:checked+label>p {
    animation-name: animation-translate-text;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.checkboxHidden:not(:checked)+label>p {
    opacity: 0;
}

@keyframes animation-translate-text {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.infoFirst, .infoSecound, .infoThird {
    z-index: 121;
    position: absolute;
    right: 1rem;
    padding: 0.5rem;
    opacity: 0;
    width: 20rem;

    color: rgb(249, 180, 6);
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;

    /* background-color: aliceblue; */
    background-color: rgb(54, 124, 51);
    border: 1px solid black;
    border-radius: 5px;
}

.infoFirst {
    bottom: 5rem;
    animation-delay: 0s;
}

.infoSecound {
    bottom: 9rem;
    animation-delay: 1s;
}

.infoThird {
    bottom: 13rem;
    animation-delay: 2s;
}

@media(max-width: 900px) {
    .headline {
        font-size: 2rem;
    }

    .grid {
        grid-template-columns: repeat(3, calc(33.33333% - 0.66666rem));
    }

    .imageNumber {
        font-size: 10vw;
    }
}

@media(max-width: 670px) {
    .svg {
        /* top: 0.1rem;
        right: 0.1rem; */
    }

    .popUpWindow {
        width: 70%;
        height: 40%;
        font-size: 1rem;
    }

    .answer {
        font-size: 1rem;
    }

    .button {
        padding: 0.2rem;
        border-radius: 5px;
        width: 30%;
    }

    .headerContainer {
        /* padding-top: 2rem; */
    }

    .headerCenter {
        /* flex-direction: column;
        justify-content: center; */
    }

    .headline {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;
    }

    .infoFirst, .infoSecound, .infoThird {
        width: 15rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 400px) {
    .popUpWindow {
        width: 85%;
        height: 30%
    }

    .answer {
        font-size: 0.8rem;
    }

    .button {
        font-size: 0.8rem;
    }

    .headline {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: 100%;
        column-gap: 0rem;
    }

    .imageNumber {
        font-size: 30vw;
    }
}